# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

*.so

# Python virtual environments
.venv/
venv/
env/
ENV/

# Python packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
